EXPO_PUBLIC_API_URL=https://app.pocketshuttle.com
EXPO_PUBLIC_PUSHER_KEY=
EXPO_PUBLIC_PUSHER_CLUSTER=
EXPO_PUBLIC_ONESIGNAL_APP_ID=
EXPO_PUBLIC_GOOGLE_MAPS_ANDROID_KEY=
EXPO_PUBLIC_EAS_PROJECT_ID=
EXPO_PUBLIC_ENABLE_ASSIGNMENT_PAYMENTS=false
